/* Font Adding */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Universal Styling */
* {
    font-family: "Manrope";
}

/* General Styling */
.menu a {
    font-weight: 800;
    font-size: 1rem;
}
.btn-primary {
    font-size: 1rem;
}
.card {
    background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0.00) 100%);
}
.feature-heading {
    font-size: 2rem;
}
.feature-description {
    width: 80%;
    margin: 0px auto;
}
.explore-btn {
    color: white;
    font-weight: 800;
    padding: 25px 15px;
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
}
.login-btn {
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
}


/* Extra Small Screen */
@media (min-width: 320px) and (max-width: 639px) {
    .hero-content {
        text-align: center;
    }
    .hero-content img {
        width: 80%;
        margin: 0px auto;
    }
    .hero-heading {
        font-size: 2.5rem;
    }
    .image-badge {
        margin: -30px auto;
    }
    .badge-heading {
        font-size: 1.25rem;
    }
    .badge-text {
        text-align: left;
    }
    .hero-description {
        width: 80%;
        margin: 0px auto;
    }
    .badge-description {
        font-size: 0.875rem;
    }
    .image-badge {
        padding: 10px 5px;
    }
    .badge-star {
        font-size: 20px;
    }
    .explore-btn img {
        width: 10%;
    }
}