/* Font Adding */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Universal Styling */
* {
    font-family: "Manrope";
}

/* General Styling */
.menu a {
    font-weight: 800;
    font-size: 1rem;
}
.btn-primary {
    font-size: 1rem;
}
.card {
    background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0.00) 100%);
}
.feature-heading {
    font-size: 2rem;
}
.feature-description {
    width: 80%;
    margin: 0px auto;
}
.explore-btn {
    color: white;
    font-weight: 800;
    padding: 25px 15px;
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
}
.login-btn {
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
}
.block-1 {
    opacity: 0.1;
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
}
.block-4 {
    background: linear-gradient(90deg, #D9D9D9 0%, rgba(255, 255, 255, 0.00) 100%);
}
.bolck-2 {
    background: rgba(230, 166, 35, 0.10);
}
.bolck-3 {
    background: rgba(87, 118, 57, 0.10);
}
.red-gradient {
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
    height: 650px;
    border-radius: 20px;
}
.red-grad-profile {
    height: 250px;
    width: 100%;
    border-radius: 20px;
}

/* Extra Small Screen */
@media (min-width: 320px) and (max-width: 639px) {
    .hero-content {
        text-align: center;
    }
    .hero-content img {
        width: 80%;
        margin: 0px auto;
    }
    .hero-heading {
        font-size: 2.5rem;
    }
    .image-badge {
        margin: -30px auto;
    }
    .badge-heading {
        font-size: 1.25rem;
    }
    .badge-text {
        text-align: left;
    }
    .hero-description {
        width: 80%;
        margin: 0px auto;
    }
    .badge-description {
        font-size: 0.875rem;
    }
    .image-badge {
        padding: 10px 5px;
    }
    .badge-star {
        font-size: 20px;
    }
    .explore-btn img {
        width: 10%;
    }

    .great-tea {
        gap: 50px;
        text-align: center;
        flex-direction: column;
    }
    .great-tea-image {
        width: 95%;
        gap: 10px;
    }
    .fresh-tea {
        width: 60%;
    }
    .great-main-heading {
        font-size: 2rem;
    }
    .great-description {
        width: 80%;
        margin: 0px auto;
    }

    .red-gradient {
        flex-direction: column;
        text-align: center;
        height: 800px;
        /* width: 90%; */
        margin: 80px auto;
        justify-content: space-evenly;
    }
    .profile-container {
        width: 95%;
        margin: 0px auto;
    }
    .red-grad-heading {
        font-size: 2rem;
    }
    .red-grad-description {
        width: 80%;
        margin: 20px auto;
    }
    .avatar {
        position: relative;
        top: 40px;
        /* left: 0px; */
    }
    .red-grad-profile {
        padding: 0px;
        margin-top: 20px;
        align-items: center;
    }
    .profile-description {
        width: 80%;
        margin: 0px auto;
    }
}